<div class="card border-primary mb-3">
    <div class="card-header">Clientes</div>
    <div class="card-body text-primary">
      <h5 class="card-title">Listado de clientes</h5>
<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Id</th>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Fecha</th>
            <th>Email</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let c of clientes">
            <td>{{c.id}}</td>
            <td>{{c.nombre}}</td>
            <td>{{c.apellido}}</td>
            <td>{{c.createAt}}</td>
            <td>{{c.email}}</td>
        </tr>
    </tbody>
</table>
    </div>
  </div>